
html,body{
   height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
      /* fallback */
  background-color: #d0dcff;

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, from(#d0dcff), to(#e4efee)) no-repeat;

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #d0dcff, #e4efee) no-repeat;

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #d0dcff, #e4efee) no-repeat;

  /* IE 10 */
  background: -ms-linear-gradient(top, #d0dcff, #e4efee) no-repeat;

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #d0dcff, #e4efee) no-repeat;
}


 .logo {
        width: 40px;
        height: 40px;
    }
    
#content {
  /* Prevent vertical gaps */
  line-height: 0;
   
  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;  
}

#content img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}


.hideClass{
  visibility:hidden;
}

.displayClass{
  visibility:visible;
}